BETTER_AUTH_SECRET="your generated better auth secret"
BASE_URL="the url you are running the nextjs app(http://localhost:3000)"
WEBSOCKET_URL="the url you are running hocuspocus server(ws://localhost:1234)"
DATABASE_URL="your neon database url"
RESEND_API_KEY="your resend api key"
CLIENT_ID="google Oauth client id"
CLIENT_SECRET="google Oauth client secret"
