@import '../styles/_variables.scss';
@import '../styles/_keyframe-animations.scss';

@import "tailwindcss";

:root {
  --background: #ebf1f8;
  --background_secondary: #F4F8FC;
  --primary: #3B82F6;
  --secondary: #0EA5E9;
  --text: #1E293B;
  --text-muted: #475569;
  --border: #CBD5E1;
}

@theme inline {
  --color-background: var(--background);
  --color-background_secondary: var(--background_secondary);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-text: var(--text);
  --color-text_muted: var(--text-muted);
  --color-border: var(--border);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-sans: 'Inter', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0F172A;
    --background_secondary: #101A32;
    --primary: #60A5FA;
    --secondary: #38BDF8;
    --text: #E2E8F0;
    --text-muted: #94A3B8;
    --border: #334155;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, sans-serif;
}
